<%- include('includes/head') %>
<%- include('includes/nav') %>


<div class="container">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contados estão abaixo:</p>
     <%- include('includes/messages') %> 
      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Email</th>
              <th scope="col">Telefone</th>
            </tr>
          </thead>
          <tbody>
            <% contatos.forEach((contato,i) =>{ %>
            <tr>
              <th scope="row"><%= i %> </th>
              <td><%= contato.nome %></td>
              <td><%= contato.sobrenome %></td>
              <td><%= contato.email %></td>
              <td><%= contato.telefone %></td>
              <td> <a href="/contato/<%= contato._id %> " style="text-decoration:none">Editar  </a></td>
              <td> <a class="text-danger" href="/contato/delete/<%=contato._id%>" style="text-decoration:none">Excluir</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2">
      
    </div>
  </div>
</div>

<%- include('includes/footer') %>